{% extends 'base.html' %}

{% block content %}
<h2>
    Kategorier:
</h2>
<p>
    <a href="{% url 'category' "regnskab" %}">Regnskab & budget</a> /
    <a href="{% url 'category' "referat" %}">Referater</a> /
    <a href="{% url 'category' "andet" %}">Andet</a> /
    <a href="{% url 'documents' %}">Alle</a>
</p>

{% if error %}
<p>
    {{ error }}
</p>
{% else %}

    {% if archive %}
        {% regroup archive by date|date:"Y" as year_list %}
        {% for year in year_list %}
            <h3>{{ year.grouper }}</h3>
            <ul>
            {% for item in year.list %}
                <li><a href="{{ item.doc.url }}">{{ item }}</a></li>
            {% endfor %}
            </ul>
        {% endfor %}
    {% else %}
        <p>No archive?</p>
    {% endif %}

    {% if docs %}
        <h2>
            {% if category %}
            Dokumenter: {{ category }}
            {% else %}
            Senest uploadede dokumenter:
            {% endif %}
        </h2>
        <ul>
            {% for doc in docs %}
                <li>
                    <a href="{{ doc.doc.url }}">{{ doc }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>
            Der gik noget galt... kontakt venligst webmasteren på email: <a href="mailto:niels@nscp.dk">niels@nscp.dk</a>
        </p>
    {% endif %}

{% endif %}

{% endblock %}