{% extends 'base.html' %}
{% block content %}
    {% if post %}
        <p>
            {{ post.title }}
        <p/>
        <p>
            {{ post.text }}
        </p>
        {% if docs %}
            <p>Dokument(er):</p>
            <ul>
            {% for doc in docs %}
                <li>
                    <a href="{{ doc.doc.url }}">{{ doc.name }}</a>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
        {% if images %}
            <p>Billede(r):</p>
            {% for img in images %}
                <a href="{{ img.img.url }}"><img src="{{ img.img.url }}" /></a>
            {% endfor %}
        {% endif %}
    {% else %}

    {% endif %}
{% endblock %}