{% extends 'base.html' %}
{% block content %}
    {% if archive %}
    <h1>
        Nyhedsarkiv
    </h1>
        <table>
        {% for year, posts in archive.items %}
            <tr><td><h2>{{ year }}</h2></td><td></td></tr>
            {% for post in posts %}
                <tr>
                    <td>
                        {{ post.date|date:"M d" }}
                    </td>
                    <td>
                        <a href="{% url 'specific_post' post.slug %}">{{ post.title }}</a>
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
        </table>
    {% else %}
        <p>
            Ingen nyheder.
        </p>
    {% endif %}
{% endblock %}