{% extends 'news_template.html' %}
{% block news_header %}
<h1>
    Nyhedsarkiv
</h1>
{% endblock %}
{% block latest_news %}
{% if arcs %}

    {% regroup arcs by year as year_list %}

    {% for year in year_list %}
        <h3>{{ year.grouper }}</h3>
        {% for item in year.list %}
            <p>{{ item.date|date:"M d" }},
                <a href="{% url 'specific_post' item.post.slug %}">
                    {{ item.post }}
                </a>
            </p>
        {% endfor %}
    {% endfor %}

{% else %}
<p>
    Ingen nyheder
</p>
{% endif %}
{% endblock %}